:root{
    --black: #4E4946;
    --white: #CCCCCC;
}

#engineLoading, #perftLoading {
    visibility: hidden;
}

#gameResults {
    width: 20rem;
    display: none;
}

.evalbar {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    height: 1.33rem;
    background-color: var(--black);
    position: relative;
}

.evalbar > .progress-bar {
    background-color: var(--white);
}

#evalText {
    position: absolute;
    left: 50%; top: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--black);
    font-size: 1.1rem;
    transition: all 0.6s ease;
}